<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule.css') }}">
    <title>Availability - Coffeehouse</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Sen:wght@400..800&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <!-- Header -->
    <div class="container">
        <header class="d-flex align-items-center justify-content-between py-2 mb-3 border-bottom"
            style="box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.05);">
            <div class="d-flex align-items-center col-md-6">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none me-3">
                    <img src="{{ url_for('static', filename='SmallLogo.png') }}" alt="Logo" width="50" height="50">
                </a>
                <!-- Navigation Buttons -->
                <ul class="nav">
                    <li>
                        <a href="{{ url_for('main.unavailability') }}" class="nav-link px-2 text-dark">
                            <i class="bi bi-check2-circle"></i>
                            Unavailability
                            <i class="bi bi-dot dot-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.schedule') }}" class="nav-link px-2 text-secondary hover-dark">
                            <i class="bi bi-calendar-range me-1"></i>
                            Schedule
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.events') }}" class="nav-link px-2 text-secondary hover-dark">
                            <i class="bi bi-gift me-1"></i>
                            Events
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Dropdown Section -->
            <ul class="nav d-flex align-items-center">
                <!-- Notifications Dropdown -->
                <li class="nav-item dropdown me-5">
                    <button class="btn p-0 border-0 bg-transparent shadow-none" type="button" id="notificationsDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="position-relative">
                            <i class="bi bi-bell-fill"></i>
                            <!-- Notification Dot -->
                            <span class="notification-dot"></span>
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="notificationsDropdown">
                        <li class="dropdown-header d-flex align-items-center">
                            <i class="bi bi-bell-fill me-2"></i> Notifications
                        </li>
                        <li class="dropdown-divider mt-0"></li>
                        <li style="max-height: 250px; min-width: 300px; overflow-y: auto;">
                            <ul id="notification-list" class="list-unstyled px-2 mb-0">
                                <!-- Notifications will be added dynamically here -->
                            </ul>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="d-flex justify-content-end px-2">
                            <button class="btn btn-sm btn-light hover-dark-bg border border-dark" id="clear-notifications"
                                onclick=clearNotifications()>
                                <i class="bi bi-arrow-counterclockwise me-1"></i>Clear</button>
                        </li>
                    </ul>
                </li>
                <!-- Profile Dropdown -->
                <li class="nav-item dropdown">
                    <button class="btn p-0 border-0 bg-transparent shadow-none" type="button" id="profileDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span>
                            Welcome, {{ fname }}
                            <i class="bi bi-person-fill"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="profileDropdown"
                        style="min-width: 200px;">
                        <li class="dropdown-header d-flex align-items-center">
                            <i class="bi bi-person-fill me-2"></i> Profile Info
                        </li>
                        <li class="dropdown-divider mt-0"></li>
                        <!-- Employee Info Section -->
                        <li class="px-3">
                            <p class="mb-1"><strong>Name:</strong> {{fname}} {{lname}}</p>
                            <p class="mb-1"><strong>Hourly:</strong> ${{ '{:.2f}'.format(wage) }}</p>
                        </li>
                        <li class="dropdown-divider"></li>
                        <!-- Logout Button -->
                        <li class="d-flex justify-content-end px-2">
                            <a href="{{ url_for('auth.logout') }}" class="btn btn-sm btn-light hover-dark-bg border border-dark" id="logout-link">
                                <i class="bi bi-door-open"></i>
                                Sign out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
    </div>

    <div class="container">
        <div class="row">
            <aside class="col-md-2 d-flex flex-column">
                <div class="p-3 bg-light border rounded mb-2 shadow-sm">
                    <h5>
                        <i class="bi bi-list"></i>
                        Menu
                    </h5>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <a href="#"
                                class="d-flex align-items-center p-2 mb-2 bg-brown text-white rounded small-font text-decoration-none border border-dark"
                                data-bs-toggle="modal" data-bs-target="#unavailabilityModal">
                                <i class="bi bi-plus-circle me-2"></i>
                                Add
                            </a>

                            <!-- Confirmation Modal -->
                            <div class="modal fade" id="unavailabilityModal" tabindex="-1"
                                aria-labelledby="unavailabilityModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="unavailabilityModalLabel">Add Unavailability
                                            </h5>
                                            <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Day Selection -->
                                            <label for="unavailability-date">Select Day:</label>
                                            <input type="date" id="unavailability-date" class="form-control mb-3">

                                            <!-- Start Hour Selection -->
                                            <label for="unavailability-start-hour">Select Start Hour:</label>
                                            <select id="unavailability-start-hour" class="form-select mb-3">
                                                <option value="09">7 AM</option>
                                                <option value="09">8 AM</option>
                                                <option value="09">9 AM</option>
                                                <option value="10">10 AM</option>
                                                <option value="11">11 AM</option>
                                                <option value="12">12 PM</option>
                                                <option value="13">1 PM</option>
                                                <option value="14">2 PM</option>
                                                <option value="15">3 PM</option>
                                                <option value="16">4 PM</option>
                                            </select>

                                            <!-- End Hour Selection -->
                                            <label for="unavailability-end-hour">Select End Hour:</label>
                                            <select id="unavailability-end-hour" class="form-select mb-3">
                                                <option value="09">8 AM</option>
                                                <option value="09">9 AM</option>
                                                <option value="10">10 AM</option>
                                                <option value="11">11 AM</option>
                                                <option value="12">12 PM</option>
                                                <option value="13">1 PM</option>
                                                <option value="14">2 PM</option>
                                                <option value="15">3 PM</option>
                                                <option value="16">4 PM</option>
                                                <option value="17">5 PM</option>
                                            </select>

                                            <p id="error-message" style="color: red; display: none;">Please select a
                                                valid
                                                date and hour range.</p>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-between">
                                            <!-- Cancel Button -->
                                            <a href="#"
                                                class="d-flex align-items-center p-2 bg-secondary text-white rounded text-decoration-none hover-gray border border-dark"
                                                data-bs-dismiss="modal">
                                                <i class="bi bi-x-circle me-2"></i>
                                                Cancel
                                            </a>
                                            <!-- Add Button -->
                                            <a href="#"
                                                class="d-flex align-items-center p-2 bg-brown text-white rounded text-decoration-none border border-dark"
                                                onclick="addUnavailability()">
                                                <i class="bi bi-plus-circle me-2"></i>
                                                Confirm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#"
                                class="d-flex align-items-center p-2 mb-2 bg-brown text-white rounded small-font text-decoration-none border border-dark"
                                data-bs-toggle="modal" data-bs-target="#confirmClearModal">
                                <i class="bi bi-arrow-counterclockwise me-2"></i>
                                Clear
                            </a>

                            <!-- Confirmation Modal -->
                            <div class="modal fade" id="confirmClearModal" tabindex="-1"
                                aria-labelledby="confirmClearModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmClearModalLabel">Confirm Clear</h5>
                                            <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to clear your unavailability for this week?
                                        </div>
                                        <div class="modal-footer d-flex justify-content-between">
                                            <!-- Cancel Button -->
                                            <a href="#"
                                                class="d-flex align-items-center p-2 bg-secondary text-white rounded text-decoration-none hover-gray border border-dark"
                                                data-bs-dismiss="modal">
                                                <i class="bi bi-x-circle me-2"></i>
                                                Cancel
                                            </a>
                                            <!-- Add Button -->
                                            <a href="#"
                                                class="d-flex align-items-center p-2 bg-brown text-white rounded text-decoration-none border border-dark"
                                                onclick="clearUnavailability()" data-bs-dismiss="modal">
                                                <i class="bi bi-arrow-counterclockwise me-2"></i>
                                                Confirm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!-- Autofill Link -->
                            <a href="#"
                                class="d-flex align-items-center p-2 mb-2 bg-brown text-white rounded small-font text-decoration-none border border-dark"
                                data-bs-toggle="modal" data-bs-target="#confirmAutofillModal">
                                <i class="bi bi-magic me-2"></i>
                                Autofill
                            </a>

                            <!-- Confirmation Modal -->
                            <div class="modal fade" id="confirmAutofillModal" tabindex="-1"
                                aria-labelledby="confirmAutofillModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmAutofillModalLabel">Confirm Autofill</h5>
                                            <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to clear your unavailability for this week and
                                            automatically fill it with the unavailability from the previous week?
                                        </div>
                                        <div class="modal-footer d-flex justify-content-between">
                                            <!-- Cancel Button -->
                                            <a href="#"
                                                class="d-flex align-items-center p-2 bg-secondary text-white rounded text-decoration-none hover-gray border border-dark"
                                                data-bs-dismiss="modal">
                                                <i class="bi bi-x-circle me-2"></i>
                                                Cancel
                                            </a>
                                            <!-- Add Button -->
                                            <a href="#"
                                                class="d-flex align-items-center p-2 bg-brown text-white rounded text-decoration-none border border-dark"
                                                onclick="autofillUnavailability()" data-bs-dismiss="modal">
                                                <i class="bi bi-magic me-2"></i>
                                                Confirm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--Selections-->
                <div class="p-3 bg-light border rounded shadow-sm">
                    <h5><i class="bi bi-card-checklist me-1"></i>
                        Selections
                    </h5>
                    <hr>
                    <div id="unavailabilityList" class="overflow-auto border rounded p-2 bg-light" style = "max-height: 300px;"> </div>
                </div>
            </aside>

            <!-- Main Content -->
            <main class="col-md-10">
                <div class="p-3 bg-light border rounded shadow-sm">
                    <header class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center ms-2">
                            <button type="button" id="prevWeek" class="btn p-0 me-2 shadow-none" onclick=updateWeek(-1)>
                                <i class="bi bi-chevron-left"></i>
                            </button>
                            <input type="week" id="unavailabilityDate" name="unavailabilityDate" class="ms-2 me-2">
                            <button type="button" id="nextWeek" class="btn p-0 ms-2 shadow-none" onclick=updateWeek(1)>
                                <i class="bi bi-chevron-right"></i>
                            </button>
                        </div>
                        <h4 class="text-center m-0">
                            <i class="bi bi-check2-circle me-2"></i>
                            My Unavailability
                        </h4>
                        <!-- Dropdown -->
                        <div class="dropdown">
                            <button class="btn p-0 border-0 bg-transparent shadow-none" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots me-2"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a class="dropdown-item" href="#" onclick="printPage()">
                                        <i class="bi bi-printer me-2"></i>
                                        Print
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <hr>
                    <div class="schedule-grid">
                        <div class="empty-cell"></div>
                        {% for hour in range(7, 18) %}
                        <div class="time-label"> {{ hour if hour < 13 else (hour%12) }}{{ 'AM' if hour < 12 else 'PM'
                                }}</div>
                                {% endfor %}

                                {% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday",
                                "Sunday"] %}
                                <div class="day-label">{{ day }}</div>
                                {% for hour in range(7, 18) %}
                                <div class="cell" id="cell-{{ day }}-{{ hour }}"></div>
                                {% endfor %}
                                {% endfor %}
                        </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 mt-5 border-top"
            style="box-shadow: 0 -8px 4px -4px rgba(0, 0, 0, 0.05);">
            <ul class="nav col-md-4 justify-content-start">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">© 2024 Mary Low Coffeehouse</a>
                </li>
            </ul>

            <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="{{ url_for('static', filename='SmallLogo.png') }}" alt="Logo" width="50" height="50">
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="https://github.com/ryanmogauro/Scheduling-Project"
                        class="nav-link px-2 text-secondary" target="_blank" rel="noopener noreferrer">About Us</a></li>
            </ul>
        </footer>
    </div>
    </div>
    <script src="{{ url_for('static', filename='availability.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>